<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h3>Employee List</h3>
        <a href="/register" class="btn btn-primary">
            + Add Employee
        </a>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${el}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.name}"></td>
                    <td th:text="${e.department}"></td>
                    <td th:text="${e.salary}"></td>
                    <td><a th:href="@{/updateemp/{id}(id=${e.id})}" class="btn btn-success btn-sm">Edit</a>
                    <a th:href="@{/deleteemp/{id}(id=${e.id})}" class="btn btn-danger btn-sm"
                     onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>